{% extends 'base.html' %}

{% block title %}
    Next Muby (BETA)
{% endblock %}

{% from 'bootstrap5/nav.html' import render_nav_item %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container col-xxl-8 py-5">
        <div id="messages">
        {% for message in messages %}
            {% if message.author == 'assistant' %}
                <div class="d-flex flex-row justify-content-start mb-4">
                    <img class="bg-white" src="{{ url_for('static', filename='muby.png') }}" alt="avatar 1" style="width: 45px; height: 100%;">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                        <p class="mb-0">{{message.content}}</p>
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-row justify-content-end mb-4">
                    <div class="p-3 me-3 border bg-body-tertiary" style="border-radius: 15px;">
                        <p class="mb-0">{{message.content}}</p>
                    </div>
              </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="mb-3 d-flex gap-2 align-items-center">
            <span>Acciones rápidas:</span>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="message" value="Recomiéndame una de terror"/>
                <button type="submit" class="btn btn-sm btn-outline-light">Recomiéndame una de terror</button>
            </form>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="message" value="Recomiéndame una de acción"/>
                <button type="submit" class="btn btn-sm btn-outline-light">Recomiéndame una de acción</button>
            </form>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="message" value="Recomiéndame una comedia"/>
                <button type="submit" class="btn btn-sm btn-outline-light">Recomiéndame una comedia</button>
            </form>
        </div>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group mb-3">
                <input id="message" name="message" required="required" class="form-control form-control-lg" placeholder="Enviar mensaje a Muby" aria-label="Tu mensaje" aria-describedby="send-message"/>
                <input type="submit" class="btn btn-primary btn-lg disabled" id="send-message" name="intent" value="Enviar"/>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
